In [87]:
start_graph = {
    'B': 'E', 'E': 'H', 'H': 'K', 'K': 'N', 'N': 'Q', 'Q': 'T', 'T': 'W', 'W': 'Z',
    'Z': 'AC', 'AC': 'AF', 'AF': 'AI', 'AI': 'AL', 'AL': 'AO', 'AO': 'AR', 'AR': 'AU',
    'AU': 'AX', 'AX': 'BA'
}

end_graph = {
    'D': 'G', 'G': 'J', 'J': 'M', 'M': 'P', 'P': 'S', 'S': 'V', 'V': 'Y', 'Y': 'AB',
    'AB': 'AE', 'AE': 'AH', 'AH': 'AK', 'AK': 'AN', 'AN': 'AQ', 'AQ': 'AT', 'AT': 'AW',
    'AW': 'AZ', 'AZ': 'BC'
}

In [89]:
import pandas as pd

# read in excel sheet\
start, end = 'B', 'D'
while start in start_graph and end in end_graph:
    data = pd.read_excel('../CPIHistoricalForecast.xlsx', usecols=f'A, {start}:{end}', skiprows=2)
    df = data.copy()
    # data.head()
    print(start, end)
    start = start_graph[start]
    end = end_graph[end]
print(start, end)

B D
E G
H J
K M
N P
Q S
T V
W Y
Z AB
AC AE
AF AH
AI AK
AL AN
AO AQ
AR AT
AU AW
AX AZ
BA BC

In [83]:
date = df.columns[2].split('-')

In [84]:
col_names = df.iloc[0].values
col_names[0] = 'index'
df = df.iloc[1:]
df.columns = col_names

# creating columns for date
df['month'] = date[0]
df['year'] = int(date[1]) + 2000

# set index
df = df.set_index('index').dropna()

In [85]:
df.head()

                         Lower  Mid Upper month  year
index
All food                   0.5  2.1   3.8   Jul  2002
Food away from home        1.3  2.8   4.3   Jul  2002
Food at home              -0.7  1.9   4.5   Jul  2002
Meats, poultry, and fish  -2.2  1.6   5.6   Jul  2002
Meats                     -2.3    2   6.4   Jul  2002